<div class="container">
    <div class="card my-5">
        <div class="card-body bg-danger bg-opacity-25">
          <%= data.length===0?'No Search Result Found':'Error Searching The Query' %>
        </div>
      </div>
</div>