<div class="container mt-5">
    <div class="container margin">
        <div class="row">
            <div class="col-2">
                <p class="headerText display-2 rotate">
                    GaME LOok uP
                </p>
            </div>
            <div class="col-10 p-4 contentText">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, ducimus. Quasi quam itaque, beatae
                repudiandae officiis natus iusto architecto pariatur voluptatem corporis odit commodi eum velit fuga
                voluptatum ipsum totam.
            </div>
        </div>
    </div>
    <div class="btnContainer">
        <button class="btn buttonStyle">
            <a href="/search">Search</a> 
        </button>
    </div>
</div>