@font-face {
    font-family: "8-bit Arcade";
    src: url("resource/font/8_bit_arcade/8-bit\ Arcade\ In.ttf") format("TrueType");
  }  

body{
    position: relative;
    background: repeat center/30% url("resource/background.webp");
}

/* Utility */
.margin{
    margin-top: 10em;
}

.textFont{
    font-family: '8-bit Arcade';
}

/* Index Page */
.headerText{
    z-index: auto;
    font-size: 12em;
    color: yellow;
    text-shadow: 20px 20px black;
}

.rotate{
    position: relative;
    left: 30%;
    transform: rotate(-35deg);
}

.contentText{
    z-index: 1;
    font-size: 3em;
    color: white;
    text-align: justify;
}

.btnContainer{
    width: 100%;
    text-align: center;
}

.buttonStyle{
    margin: 0.5em auto;
    font: 10em '8-bit Arcade';
    background-color: transparent;
    border: 5px solid yellow;
}
.buttonStyle>a{
    margin: 0.5em;
    text-decoration: none;
    color: yellow;
}

/* Show Page */
.cardImg{
    width:100%;
    height: 10em;
}

/* Error Page */
.error{
    font-size: 6em;
    margin: 3em;
}